<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/send">
        <input type="hidden" name="crypted" value="">
        <p><img src="" alt="Captcha"></p>
        <p>CAPTCHA: <input type="text" required name="captcha"><br>
        <p><input type="submit"></p>
        </form>
    <script>
        // Generate Captcha
        fetch("/captcha", {
            method: "POST",
            headers: new Headers({
                "X-Requested-With": "XMLHttpRequest"
            })
        }).then(function(response) {
            return response.json()
        }).then(function(values) {
            document.querySelector('input[name=crypted]').value = values.crypted;
            document.querySelector('img[alt=Captcha]').src = values.image;
            document.querySelector('input[name=captcha]').pattern = '\\w{' + values.digits + '}';
        })
        
    </script>
</body>
</html>